<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript">
	var ws = new io("ws://127.0.0.1:9099");
	
	ws.onopen = function(evt) {
		console.log("Connection open ...");
		ws.send("Hello WebSockets!");
	};
	 
	ws.onmessage = function(evt) {
		console.log("Received Message: " + evt.data);
		ws.close();
	};
	 
	ws.onclose = function(evt) {
		console.log("Connection closed.");
	};
</script>
</head>
<body>
	<span id="ssss">0</span>
</body>
</html>